
body {
	/*font-family:"Helvetica, Open Sans, Ubuntu, Arial, sans-serif";*/
	/*font-size:14px;*/
	font-family: Arial, Ubuntu sans-serif;
	background-color: #2D2D2D;
	color: #7ff7f7;
	padding-top: 60px;
} 

h1, h2, h3, h4, h5, h6 {
	/*font-family:"Helvetica, Open Sans, Ubuntu, Arial, sans-serif";*/
}

hr {
	background-color:#BBBBBB;
	height: 1px; 
	border: 0;
}

a:hover,
a:link,
a:active, 
a:visited {
	color: #9FACA3;
	text-decoration: none;
}

#page-wrapper {
	/*background-color: #2D2D2D;*/
	color: #9FACA3;
	width: 100%;
}

nav#top-nav {
	background-color: #444444;
}

.navbar-brand img {
	width: 34px;
	height: 34px;
}

button[data-target="#top-nav-collapse"] {
	/*color: #FB8C00;*/
	background-color: #2A2A2A;
	color: #9FACA3;
	border: 1px solid transparent;
	transition: all .26s ease;
}

button[data-target="#top-nav-collapse"]:hover,
button[data-target="#top-nav-collapse"]:active {
	color: #AC6E77;
	position: relative;
	right: 1px;
	padding-top: 3px;
	padding-left: 10px;
	padding-bottom: 3px;
	padding-right: 10px;
	border-color: #AC6E77;
	transition: padding .26s ease, right .0 ease;
}

button[data-target="#top-nav-collapse"]:focus {
	outline: none !important;
	box-shadow: none !important;
}

nav#top-nav ul.navbar-nav {
	padding-top: 10px;
	padding-bottom: 20px;
	background-color:  #313131;
	padding-left: 8px;
	padding-right: 8px;
}

nav#top-nav li.nav-item {
	background-color: #2A2A2A;
	margin-top: 6px;
	padding: 4px;
	border: 1px solid transparent;
	box-shadow: 0px 2px 4px #111111;
	transition: all .26s ease;
}

nav#top-nav li.nav-item:hover {
	background-color: #3A3A3A;
	border: 1px solid #AC6E77;
	box-shadow: none;
}

nav#top-nav ul.navbar-nav li.divider {
	color: #9FACA3;
}

nav#top-nav a.top-nav-link {
	color: #AC6E77;
	transition: color .26s ease;
	
}

nav#top-nav a.top-nav-link:hover,
nav#top-nav a.top-nav-link:active {
	color: #F7F7F7;
	transition: color .26s ease;
}

nav#top-nav li.nav-item:hover a.top-nav-link {
	color: #F7F7F7;
	/*letter-spacing: 2px;*/
	transition: all .26s ease;
}

p.top-nav-lead {
	position: relative;
	right: 100%;
	font-size: 14px;
	color: #AC6E77 !important;
	opacity: 0.0;
	visibility: hidden;
}

nav#top-nav li.nav-item:hover p.top-nav-lead {
	right: 0;
	opacity: 1.0; 
	visibility: visible;
	transition: right .26s ease,
		opacity .46s ease-in,
		visibility .26s ease;
}

span.top-nav-link-icon {
	font-size: 20px;
	position: relative;
	top: 4px;
	color: #9FACA3;
	right: 4px;
	-webkit-transition: all .26s ease;
	   -moz-transition: all .26s ease;
	    -ms-transition: all .26s ease;
	     -o-transition: all .26s ease;
	        transition: all .26s ease;
}

nav#top-nav li.nav-item:hover span.top-nav-link-icon {
	color: #7ff7f7;
	-webkit-transform: scale(1.2, 1.2) rotate(360deg);
	   -moz-transform: scale(1.2, 1.2) rotate(360deg);
	    -ms-transform: scale(1.2, 1.2) rotate(360deg);
	     -o-transform: scale(1.2, 1.2) rotate(360deg);
	        transform: scale(1.2, 1.2) rotate(360deg);

	-webkit-transition: all .26s ease;
	   -moz-transition: all .26s ease;
	    -ms-transition: all .26s ease;
	     -o-transition: all .26s ease;
	        transition: all .26s ease;
}

header#page-header {
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}

img.header-logo {
	width: 120px;
	height: 120px;
	margin-right: 8px;
}

h1#page-title {
	color: #AC6E77;
	padding: 10px;
	padding-bottom: 0;
	margin-top: 10px;
	margin-left: 4px;
	margin-bottom: 0px;
	margin-right: 4px;
}

section#search-bar-section {
	padding-left: 15px;
	padding-right: 15px;
}

form#search-bar {
	background-color: #AC6E77;
	box-shadow: 0px 2px 4px #111111;
	padding: 8px;
	/*border-radius: 4px;*/
}

form#search-bar .input-group {
	border-radius: 4px;
	box-shadow: 0px 2px 4px #111111;
}

form#search-bar input#search-bar-input {
	background-color: #4D4D4D;
	color: #F7F7F7;
	/*border-color: #FB8C00;
	border-right: none;*/
	border: none;
	height: 36px;
}

form#search-bar input#search-bar-input:focus,
form#search-bar input#search-bar-input:active {
	box-shadow: none;
}

form#search-bar #search-btn {
	background-color: #2A2A2A;
	color: #9FACA3;
	border: none;
	/*border-color: #FB8C00;*/
	height: 36px;
	outline: none;
}

form#search-bar #search-btn:hover,
form#search-bar #search-btn:focus,
form#search-bar #search-btn:active {
	background-color: #1A1A1A;
}

form#search-bar img#ddg-logo {
	width: 24px;
	height: 24px;
}

nav.main-nav {
	padding-top: 8px;
	padding-left: 8px;
	padding-bottom: 0;
	padding-right: 8px;
}

.main-nav-row {
	background-color: #2A2A2A;
	box-shadow: 0px 2px 4px #111111;
	transition: all .26s ease;
}

.main-nav-row:hover {
	background-color: #3A3A3A;
	box-shadow: none;
}

h2.main-nav-header {
	color: #AC6E77;
	padding: 8px;
	transition: all .26s ease;
}

.main-nav-row:hover h2.main-nav-header {
	letter-spacing: 2px;
	color: #F7F7F7;
	transition: all .26s ease;
}

span[class="fa fa-external-link"] {
	padding: 4px;
	color: #AC6a11;
	font-size: 18px;
	opacity: 0.0;
	position: relative;
	bottom: 2px;
	transition: all .26s ease;
}

span[class="fa fa-search"] {
	padding: 4px;
	color: #AC6a11;
	font-size: 18px;
	opacity: 0.0;
	position: relative;
	bottom: 2px;
	transition: all .26s ease;
}

.main-nav-row:hover span[class="fa fa-external-link"] {
	opacity: 1.0;
	transition: all .26s ease;
}

.main-nav-row:hover span[class="fa fa-search"] {
	opacity: 1.0;
	transition: all .26s ease;
}

h2.main-nav-header p.main-nav-lead {
	font-size: 14px; 
	/*display: inline;*/
	padding-top: 8px;
	margin-bottom: 0;
	/* Keeps the nav rows lead from moving when the headers
	letter spacing increases and decreases using the 
	transition property. The lead is a child of the header 
	jb., so the letter spacing effects it as well. */
	letter-spacing: 0 !important;
	color: #AC6E77;
}

h2.main-nav-header span.header-icon {
	/* Keeps the header icon from moving when the headers
	letter spacing increases and decreases using the 
	transition property. The icon is a child of the header 
	element, so the letter spacing effects it as well. */
	letter-spacing: 0 !important;
	padding: 4px;
	font-size: 30px;
	transition: all .26s ease;
}

.main-nav-row:hover h2.main-nav-header span.header-icon {
	text-shadow: 0px 2px 4px #111111;
	font-size: 34px;
	color: #7ff7f7;

	-webkit-transform: rotate(360deg) scale(1.0);
	transform: rotate(360deg) scale(1.0);

	-webkit-transition: all .26s ease;
	   -moz-transition: all .26s ease;
	    -ms-transition: all .26s ease;
	     -o-transition: all .26s ease;
	        transition: all .26s ease;
}

span[class="fa fa-link"] {
	
}

.main-nav-links-container {
	background-color: #363636;
	padding: 8px;
	margin-left: 4px;
	margin-right: 4px;
	box-shadow: 0px 2px 4px #111111;
	border: 1px solid transparent;
}

.main-nav-row:hover .main-nav-links-container {
	background-color: #4D4D4D;
	box-shadow: none;
	border: 1px solid transparent;
	transition: all .26s ease;
}

a.main-nav-link {
	padding: 2px;
	border: 1px inset #4A4A4A;
	border-radius: 4px;
	transition: all .26s ease;
}

.main-nav-row:hover a.main-nav-link {
	color: #7FF7F7;
	border: 1px solid #666666;
	border-radius: 4px;
	box-shadow: 0px 2px 4px #333333;
	transition: all .26s ease;
}

.main-nav-row:hover a.main-nav-link:hover,
.main-nav-row:hover a.main-nav-link:active,
.main-nav-row:hover a.main-nav-link:focus {
	background-color: #AC6E77;
	box-shadow: none;
	border: 1px inset #4A4A4A;
	border-radius: 4px;
	color: #F7F7F7;
	transition: all .26s ease;
}

a.has-focus {
	color: #3A3A3A !important; 
}

hr.medleft {
	width: 30%;
	margin-top: 14px;
}
 
.main-nav-row:hover hr.medleft {
	background-color: #AC6E77;
}

#footer-cta {
	color: #AC6E77;
}

.footer-above {
	padding-left: 15px;
	padding-bottom: 25px;
	padding-right: 15px;
}

.footer-below {
	height: 42px;
	background-color: #444444;
	text-align: center;
	border-top: 1px solid #4A4A4A;
}

.footer-below a.social-link {
	position: relative;
	top: 8px;
}

.footer-below a.social-link:hover {
	color: #7ff7f7;
}

.footer-below a.social-link .social-icon {
	padding: 4px;
	margin-left: 12px;
	/*text-shadow: 0px 1px 4px #111111;*/
}
