/* responsive.css */

/* Small devices (tablets, 768px and up) */
@media(min-width: 768px) {
	#page-wrapper {
		background-color: #2A2A2A;
		box-shadow: 0px 2px 4px #111111;
		width: 60%;
	}

	nav#top-nav ul.navbar-nav {
		background-color: transparent;
		padding-top: 0;
		padding-left: inherit;
		padding-bottom: 0;
		padding-right: inherit;
	}

	nav#top-nav li.nav-item {
		margin-top: auto;
		margin-left: 4px;
		padding-top: 0;
		padding-bottom: 0;
	}

	nav#top-nav li.nav-item:hover {
		box-shadow: none !important;
	}
	
	nav#top-nav #md-up-navbar-brand {
		width: 26px;
		height: 26px;
	}

	p.top-nav-lead {
		display: none !important;
	}

	nav#top-nav li.nav-item:hover p.top-nav-lead {
		display: none !important;
	}

	span.top-nav-link-icon {
		position: relative;
		top: 2px;
		padding-left: 8px;
	}

	nav#top-nav li.nav-item:hover span.top-nav-link-icon {
		-webkit-transform: scale(1.1, 1.1);
		   -moz-transform: scale(1.1, 1.1);
		    -ms-transform: scale(1.1, 1.1);
		     -o-transform: scale(1.1, 1.1);
		        transform: scale(1.1, 1.1);
	}

	header#page-header {
		padding-top: 25px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
	}
}

/* Medium devices (desktops, 992px and up) */
@media(min-width: 992px) {
	#page-wrapper {
		width: 50%;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media(min-width: 1200px) {
	#page-wrapper {
		width: 40%;
	}
}
