/* body{
background-color:#2D2D2D} */
.div1{
padding:30px;
margin:auto;
font-family:"Soleto";
color:#5A6D80;
font-size:16px;
}
hr{
background-color:#BBBBBB;
height: 1px; 
border: 0;
}
a:hover{
font-family:"Soleto";
color:#5A6D80;
text-decoration:none;
}
a:link{
font-family:"Soleto";
color:#5A6D80;
text-decoration:none;
}
a:active{
font-family:"Soleto";
color:#5A6D80;
text-decoration:none;
}
a:visited{
font-family:"Soleto";
color:#5A6D80;
text-decoration:none;
}
.centergray{
font-family:"Soleto";
padding-left:20px;
color:#5A6D80;
font-size:80px;
}
.float{
float:left;
}
.clear{
clear:both;
}
ul{
padding-left:40px;
}
.medleft{
align:left;
padding-left: 30px;
}
